<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head th:insert="base.html :: head(${'Détails du standing'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper" th:object="${standing}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/dashboard}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/standing/list}">Standings</a></li>
                <li th:utext="*{'Détails du [<b>' + name + '</b>] standing'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur le standing</b>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <b>Nom</b>
                            <span class="pull-right"><em th:text="*{name}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Loyer par mois (FCFA)</b>
                            <span class="pull-right"><em th:text="${#numbers.formatInteger(standing.rent, 1, 'WHITESPACE')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Caution (FCFA)</b>
                            <span class="pull-right"><em th:text="${#numbers.formatInteger(standing.caution, 1, 'WHITESPACE')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Frais de réhabilitation (FCFA)</b>
                            <span class="pull-right"><em th:text="${#numbers.formatInteger(standing.repair, 1, 'WHITESPACE')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Statut</b>
                            <span class="pull-right"><em th:text="${#bools.isTrue(standing.active) ? 'ACTIF' : 'DÉSACTIVÉ'}"></em></span>
                        </div>
                        <div th:unless="${#strings.isEmpty(standing.picture)}" class="list-group-item">
                            <b>Aperçu photo</b>
                            <span class="pull-right">
                                <em><a target="_blank" th:href="@{'/explorer/' + ${standing.picture}}">Voir</a></em>
                            </span>
                        </div>
                        <div class="list-group-item">
                            <b>Créé par</b>
                            <span class="pull-right"><em th:text="*{createdBy}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Date de création</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy hh:mm')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Modifié par</b>
                            <span class="pull-right"><em th:text="*{lastModifiedBy}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Date de modification</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(lastModifiedDate, 'dd-MM-yyyy hh:mm')}"></em></span>
                        </div>
                    </div>
                    <div class="panel-footer" sec:authorize="hasRole('ADMIN')">
                        <a role="button" th:href="@{/standing/save}" class="btn btn-success lazy-link mr-3">
                            <i class="fa fa-plus-circle"></i>
                            &nbsp; Ajouter
                        </a>
                        <a role="button" th:href="@{'/standing/save?id=' + ${standing.id}}" class="btn btn-primary lazy-link">
                            <i class="fa fa-pencil-square-o"></i>
                            &nbsp; Modifier
                        </a>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapseBox" class="collapsed btn btn-primary">
                                    <i class="fa fa-list"></i>
                                    &nbsp; Plus de détails
                                </button>
                            </h4>
                        </div>
                        <div id="collapseBox" class="panel-collapse collapse">
                            <div class="panel-body" th:text="*{description}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
