<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="300">
    <title>MINI CITÉ CONCORDE</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/favicon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>
<body id="login-background" class="h-100vh p-0 d-flex flex-column justify-content-center">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading py-0 d-flex align-items-center justify-content-space-between">
                    <div class="d-flex align-items-center">
                        <img class="fa fa-fw" tabindex="-1" th:src="@{/images/favicon.png}" alt="">
                        <h5 class="ml-2"><b>MINI CITÉ CONCORDE</b></h5>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-6 mb-6">
                    <a th:href="@{/237in}" tabindex="-1">
                        <img width="100" tabindex="-1" th:src="@{/images/logo.png}" alt="">
                    </a>
                </div>
                <form method="post" autocomplete="off" th:action="@{/237in}">
                    <div class="panel-body">
                        <div th:replace="base.html :: alert(${notification})"></div>
                        <div class="form-group my-4">
                            <label class="form-control-label" for="username">Adresse e-mail <span class="required-field">*</span></label>
                            <input name="email" th:value="${email}" type="email" id="username" class="form-control form-control-lg" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="password">Mot de passe <span class="required-field">*</span></label>
                            <input type="password" name="password" th:value="${password}" id="password" class="form-control form-control-lg" required>
                        </div>
                        <a style="float: right" th:href="@{/password/reset}">mot de passe oublié ?</a>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success btn-lg btn-block" type="submit">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<script th:src="@{/js/sb-admin.js}"></script>
</body>
</html>

